%br
%br
%br
%section.container 
  .row-fluid
    .table-special
      %table
        %thead
          %tr
            %td
              Header 1
            %td
              Описание
            %td
              Header 3
            %td
              Header 4
        %tbody
          - @work.each do |work|
            %tr
              %td
                = work[:name]
              %td
                = work[:description][0..19]
                %p
                = work.description.length > 40 ? work[:description][20..37] + "..." : work[:description]
              %td
                Nov 12, 2013
              %td
                = link_to "delete", work_path(id: work.id),method: :delete, data: {confirm: "Вы уверены, что хотите удалить игру?"}, class: "btn btn-danger btn-mini"
                = link_to "edit", edit_work_path(work), remote: true, class: "btn btn-warning btn-mini"
      %br
      = link_to "New", new_work_path, remote: true, class: "btn btn-success pull-right"
.modal.hide.fade#modal
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Заполните Форму
  .modalnew
.modal.hide.fade#edit
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Предупреждение
  .modaledit 
:css
  #textcolor{
    color: #08c;
  }