<div class="boxedWrapper">
<%= render "heder" %>
<%= render "panel" %>
<section id="Work" class="work parallax" style="background-image: url('/images/content/background-image-1.jpg');">
    <div class="container">
        <h2>
            Наши игры
        </h2>
        <%= render "work" %>
        <section class="full-view row-fluid">
            <!-- Work details are loaded here with Ajax from external html files -->
        </section>
    </div>
    <section id="Twitter" class="section-emphasis">
    </section>
    <!-- <section id="Skills" class="section-emphasis">
        <div class="container">
            <h3>
              Взгляните!
            </h3>
            <%= render "skills" %>
        </div>
    </section> -->
</section>
<!-- <section id="Info" class="parallax" style="background-image: url('/images/content/background-image-2.jpg')">
    <div class="container">
        <h2>
            О нас
        </h2>
        <%= render "info" %>
    </div>
    <section id="Team" class="section-emphasis-2">
        <div class="container">
            <h3>
              команда
            </h3>
            <%= render "crew" %>
        </div> 
    </section>
    <section id="Clients">
        <div class="container">
            <h3>
                Наши клиенты
            </h3>
            <%= render "clients" %>
        </div>
    </section>
</section> -->
<!-- <section id="BlogList" class="parallax" style="background-image: url('/images/content/background-image-3.jpg')">
    <div class="container">
        <h2>
            Блог
        </h2>
        <%= render "blog" %>
    </div>
</section> -->
<section id="Contact" class="parallax" style="background-image: url('/images/content/background-image-3.jpg')">
    <div class="container">
        <h2>
            Contact
        </h2>
        <%= render "contact" %>
    </div>
    <!-- <section id="Twitter" class="section-emphasis">
        <div class="container tweets">
            <h3>
                <i class="icon-twitter"><span class="hidden-text">Twitter</span></i>
            </h3>
        </div>
    </section> -->
</section>