/ .span{ id: "Work#{@imagework.id} work#{@imagework.id} flexslider span9"}
.flexslider.span9{class: "work#{@imagework.id}", id: "Work#{@imagework.id}" }
  %ul.slides
    - @imagework.images.each do |iw| 
      %li
        %img{:alt => "preview", :src => iw.image.url(:midle)}  
      / %li
      /   %a{"data-lightbox" => "work-1", :href => "images/content/works/large/work-large-1.jpg"}
      /     %img{:alt => "preview", :src => "images/content/works/middle/work-middle-1.jpg"}
      / %li
      /   %a{"data-lightbox" => "work-1", :href => "images/content/works/large/work-large-6.jpg"}
      /     %img{:alt => "preview", :src => "images/content/works/middle/work-middle-6.jpg"}
      / %li
      /   %a{"data-lightbox" => "work-1", :href => "images/content/works/large/work-large-9.jpg"}
      /     %img{:alt => "preview", :src => "images/content/works/middle/work-middle-9.jpg"}
      / %li
      /   %a{"data-lightbox" => "work-1", :href => "images/content/works/large/work-large-10.jpg"}
      /     %img{:alt => "preview", :src => "images/content/works/middle/work-middle-10.jpg"}
.span3
  %nav
    %a.prev{:href => "#"} Previous
    %a.all{:href => "#"} All
    %a.next{:href => "#"} Next
  %h4
    = @imagework[:name]
  %p
    = @imagework[:description]
  / %h4 Client
  / %p
  /   ThemeForest.net
:javascript
  $(".work#{@imagework.id}").flexslider({
      slideshow: false
  });
